// fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import 'bootstrap';

// variables
$navbar-height: 56px;

// body
body {
    background: url('/bamboo.jpg');
    font-family: 'Nunito', sans-serif;
    overflow-y: scroll;
}

// main
main {
    margin-top: $navbar-height;
}

// buttons
.button-loading-spinner {
    top: 2px;
    position: relative;
}

// landing page
.landing-logo-title {
    text-shadow: -1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, 1px -1px #000000, 3px 3px 0px rgba(0, 0, 0, 0.5);
}

// nfts
.teaser-nft-video {
    max-height: 20em;
}

// footer
.footer-social-link {
    font-size: 2em;
    line-height: 1.5;
}
